@mixin top-heading {
    top: 133px;
    font-weight: 300;
    font-size: 40px;
    line-height: 52px;
    padding-top: 49px;
    margin: 0;   
}

@mixin top-text {
    height: 32px;
    top: 190px;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    margin: 0;
} 

@mixin flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0 0 0;
}


@mixin small-box{
    background-color: $box-color;
    width: 332px;
    height: 228px;
    margin-bottom: 60px;
}


@mixin heading-styles-box {
    color: $primary-text-color;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    padding: 18px 28px 0 28px;
}

@mixin text-styles-box {
    color: $secondary-text-color;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    padding: 0 28px;
}

@mixin icon-styles {
    font-size: 42px;
    top: 72px;
    color: rgba(186, 191, 198, 1);
}