/*Fonts*/
$primary-font: 'Rubik', sans-serif;


/*Colors*/
$primary-color: rgba(33, 83, 152, 1);
$secondary-color: rgba(241, 246, 252, 1);

$box-color: rgba(255, 255, 255, 1);

$primary-text-color: rgba(45, 50, 54, 1);
$secondary-text-color: rgba(128, 128, 128, 1);


/*Mobile breackpoints*/
$extra-small: 480px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;




